/**
  * Generic class
***/

:root {
  --white-b50: #FFFFFF;
  --white-b75: #FFFFFF;
  --white-b100: #FFFFFF;
  --white-b200: #FFFFFF;
  --white-b300: #FFFFFF;
  --white-b400: #B3B3B3;
  --white-b500: #9C9C9C;

  --black-b50: #E6E6E6;
  --black-b75: #969696;
  --black-b100: #6B6B6B;
  --black-b200: #2B2B2B;
  --black-b300: #000000;
  --black-b400: #000000;
  --black-b500: #000000;

  --anakiwa-b50: #F4F8FF;
  --anakiwa-b75: #D0E3FF;
  --anakiwa-b100: #BDD8FF;
  --anakiwa-b200: #A0C7FF;
  --anakiwa-b300: #8DBBFF;
  --anakiwa-b400: #6383B3;
  --anakiwa-b500: #56729C;

  --prusian-blue-b50: #E6EAEE;
  --prusian-blue-b75: #96A7BB;
  --prusian-blue-b100: #6B829F;
  --prusian-blue-b200: #2B4D75;
  --prusian-blue-b300: #002859;
  --prusian-blue-b400: #001C3E;
  --prusian-blue-b500: #001836;
}

.clear {
  clear: both;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.section {
  margin: 100px 0;
  padding: 100px 0;
}

.text-prusian-blue-b300 {
  color: var(--prusian-blue-b300);
}

.text-white-b300 {
  color: var(--white-b300);
}

.bg-prusian-blue-b300 {
  background-color: var(--prusian-blue-b300);
}

.center-y {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-x {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-xy {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1.title-xl {
  font-size: 50px;
  font-weight: 400;
  text-transform: uppercase;
}

h2.title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

p.p-m {
  font-size: 25px;
  line-height: 40px;
  font-weight: 300;
}

p.p-s {
  font-size: 22px;
  line-height: 30px;
  font-weight: 300;
}

p.p-xs {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.text-bold, p.text-bold {
  font-weight: 500;
}

.text-italic {
  font-style: italic;
}

/**
  * Home.js
***/

.first-home-section .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.first-home-section .container-left {
}

.first-home-section .container-left h1 .small-caps {
  font-size: 65px;
}

.first-home-section .container-left .sep {
  position: relative;
  width: 50%;
  height: 3px;
  background-color: var(--prusian-blue-b300);
  margin: 30px 0;
}

.first-home-section .container-right {
  position: relative;
}

.first-home-section .container-right .center-x {
  height: 400px;
  float: left;
  clear: both;
}

.first-home-section .container-right img {
  height: 400px;
}

.second-home-section .grid-3 {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 0px;
  margin: 0 10%;
}

.second-home-section .grid-3 .grid-elem {
  /* background-color: yellow; */
}

.second-home-section .grid-3 .grid-elem img {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.second-home-section .grid-3 .grid-elem p {
  text-align: center;
  padding: 10px 0;
}

.third-home-section {
  padding: 80px;
}

.third-home-section .grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5%;
  grid-row-gap: 0px;
}

.third-home-section .grid-4 .grid-elem {
  max-height: 60px;
  position: relative;
}

.third-home-section .grid-4 .grid-elem img {
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-home-fourth .grid-2 {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  grid-row-gap: 0px;
  margin: 0 5%;
}

.section-home-fourth .grid-2 .grid-elem:nth-child(1) {
  padding-right: 100px;
}

.section-home-fourth .grid-2 .grid-elem p.p-m {
  padding-top: 50px;
}

.section-home-fourth .grid-2 .grid-elem img {
  width: 70%;
}

.section-home-fifth .image-module {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-home-fifth .image-module img {
  float: left;
  max-width: 80px;
  max-height: 80px;
  padding-right: 30px;
}

.section-home-fifth .content-box {
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

/* .section-home-fifth .image-module  */